@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.root a  {
    text-decoration: none;
    transition: background-color 200ms ease, color 200ms ease, border 200ms ease;
    border-radius: 6px;
    font-size: 18px;
}

.root p {
    transition: color 200ms;
}

/**************** HEADER Styles ****************/
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 180px;
    height: 20vh;
    text-transform: uppercase
}

/* Boomark Logo */
#header .logo {
    z-index: 1999;
}

/* Nav Icons */
.nav-close-icon,
.hamburger-icon {
    display: none;
}

/* Social Network Icons */
#header .social-icon {
    display: none;
}

#header nav ul {
    display: inline;
    list-style: none;
}

#header nav ul li {
    display: inline-block;
}

#header nav ul li a {
    display: inline-block;
    padding: 20px 28px;
    font-size: 15px;
    text-align: center;
    color: #000;
}

#header nav ul li:last-child a {
    color: #fff;
    background-color: hsl(0, 94%, 66%);
    padding: 10px 36px;
    border: 2px solid hsl(0, 94%, 66%);
    border-radius: 6px;
}

#header nav ul li a:hover {
    color: hsl(0, 94%, 66%);
}

#header nav ul li:last-child a:hover {
    color: #000;
    background-color: transparent;
}

/**************** MEDIA QUERY for HEADER 1020px ****************/
@media (max-width: 1020px) {
    #header {
        padding: 5rem;
    }

    #header nav ul li a {
        padding: 0 12px;
    }
}

/********** MEDIA QUERY for HEADER 756px **********/
@media (max-width: 756px) {

    #header {
        position: relative;
        padding: 0 2.3rem;
    }

    .nav-close-icon,
    .hamburger-icon {
        display: block;
    }

    .hamburger-icon.active {
        display: none;
    }

    .nav-close-icon {
        position: absolute;
        top: 3rem;
        right: 2.37rem;
    }

    #header nav {
        position: fixed;
        top: -150%;
        right: 0;
        z-index: 999;
        background-color: rgba(2, 22, 64, 0.838);
        width: 100%;
        min-height: 100vh;
        transition: top 200ms ease;
    }
    #header nav.active {
        top: 0;
    }

    #header .logo svg circle.active {
        fill: #fff;
        transition: 300ms;
    }
    #header .logo svg g g path.active {
        fill: #000;
        transition: 300ms;
    }
    #header .logo svg g path.active {
        fill: #fff;
        transition: 300ms;
    }

    /****** Header SOCIAL NETWORK ICONS ******/
    #header .social-icon {
        display: block;
        position: absolute;
        bottom: 10%;
        left: 0;
        width: 100%;
        text-align: center;
    }

    #header .social-icon img {
        margin: 20px 20px;
    }

    #header nav ul {
        position: absolute;
        top: 100px;
        width: 100%;
    }
    
    #header nav ul li {
        display: block;
        margin: 30px 0;
        width: 100%;
        text-align: center;
        position: relative;
    }
    #header nav ul li::before {
        content: '';
        position: absolute;
        top: -80%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 80%;
        height: .5px;
        background-color: hsl(229 8% 60% / .6);
    }

    #header nav ul li:last-child:before {
        top: -30%;
    }

    #header nav ul li a {
        font-size: 18px;
        color: #fff9;
        width: 80%;
    }

    #header nav ul li:last-child a {
        color: #fff9;
        background-color: transparent;
        border-color: #fff9;
    }

    #header nav ul li:last-child a:hover {
        color: hsl(0, 94%, 66%);
    }
}

/**************** CONTAINER Section Styles ****************/
.container {
    overflow-x: hidden;
    min-height: 80vh;
    height: 100%;
}

/**************** HERO Section Styles ****************/
.hero {
    padding: 40px 80px 40px 180px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    height: 100%;
    margin: auto;
}

/******* HERO CONTENT Section Styles *******/
.hero .hero-content {
    display: grid;
    gap: 30px;
}

.hero .hero-content h1 {
    font-size: 45px;
    font-weight: 500;
}

.hero .hero-content p {
    font-size: 18px;
    color: hsl(229, 8%, 60%);
    line-height: 28px;
}

/* HERO BUTTONS */
.hero .hero-content .hero-content-btns {
    margin-top: 10px;
}

.hero .hero-content .hero-content-btns a{
    display: inline-block;
    background-color: hsl(231, 69%, 60%);
    color: #fff;
    padding: 12px 20px;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: 2px solid transparent;
}
.hero .hero-content .hero-content-btns a:hover {
    border: 2px solid hsl(231, 69%, 60%);
    background-color: transparent;
    color: hsl(231, 69%, 60%);
    box-shadow: 0 5px 8px hsl(231 69% 60% / 0.15);
}

.hero .hero-content .hero-content-btns a:last-child {
    background-color: transparent;
    box-shadow: 0 5px 8px rgb(0 0 0 / .1);
    color: hsl(229, 31%, 21%);
    font-weight: 500;
}
.hero .hero-content .hero-content-btns a:last-child:hover {
    border: 2px solid hsl(229, 8%, 60%);
}

.hero .hero-image {
    position: relative;
}

.hero .hero-image .hero-background {
    position: absolute;
    bottom: -30px;
    right: -200px;
    width: 100%;
    height: 350px;
    background-color: hsl(231, 69%, 60%);
    z-index: -1;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
}

/**************** MEDIA QUERY for HERO ****************/
@media (max-width: 1100px) {
    .hero {
        padding: 1rem;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 756px) {

    .hero .hero-content {
        padding: 0 2rem;
        gap: 20px;
    }

    .hero .hero-content h1 {
        font-size: 28px;
        font-weight: 500;
    }
    
    .hero .hero-content p {
        font-size: 16px;
    }

    .hero .hero-content .hero-content-btns a {
        font-size: 12px;
        padding: 8px 10px;
        border-radius: 5px;
        margin-top: 0;
    }

    .hero .hero-image {
        width: 100% !important;
    }
 
     .hero .hero-image img {
        width: 100% !important;
    }
 
     .hero .hero-image .hero-background {
        width: 110%;
        height: 90%;
    }
}

@media (max-width: 556px) {
    .hero .hero-image .hero-background {
        width: 475px;
        height: 90%;
    }
}

@media (max-width: 356px) {
    .hero .hero-image .hero-background {
        width: 150%;
        height: 90%;
    }
}

/**************** FEATURES Styles ****************/
.features {
    text-align: center;
    margin-top: 50px;
    width: 100%;
}

.features .features-heading {
    width: 100%;
}

.features .features-heading h2 {
    font-size: 35px;
    font-weight: 500;
}

.features .features-heading p {
    color: hsl(229, 8%, 60%);
    width: 470px;
    margin: auto;
    margin-top: 30px;
    line-height: 24px;
}

/****** Feature NAVIGATION BUTTONS Styles ******/
.features .features-navigation-btns {
    position: relative;
    width: 100%;
}

/****** Feature BUTTONS Styles ******/
.features .features-navigation-btns .feature-buttons {
    width: fit-content;
    margin: auto;
    position: relative;
}

.features .features-navigation-btns .feature-buttons::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: hsl(229, 8%, 60%);
}

/****** BUTTON ELEMENTS ******/
.features .features-navigation-btns .feature-buttons button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 60px 40px 30px;
    font-size: 18px;
    color: hsl(229, 8%, 60%);
    position: relative;
    transition: border-bottom 200ms, color 500ms;
    border-bottom: 5px solid transparent;
}

.features .features-navigation-btns button:hover {
    color: hsl(0, 94%, 66%);
}

.features .features-navigation-btns button.active {
    border-bottom: 5px solid hsl(0, 94%, 66%);
    color: hsl(229, 31%, 21%);
}

/********* Feature CONTENTS Styles *********/
.features .feature-contents {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    padding: 5rem 10rem;
    position: relative;
    width: 100%;
    height: max-content;
}

/****** Feature IMAGE Styles ******/
.features .feature-contents .feature-image {
    position: relative;
    width: 100%;
    max-height: 100%;
}

.features .feature-contents .feature-background {
    position: absolute;
    bottom: -60px;
    left: -200px;
    width: 100%;
    height: 100%;
    background-color: hsl(231, 69%, 60%);
    z-index: -1;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
}

/****** Feature CONTENT TEXT Styles ******/
.features .feature-contents .feature-content-text {
    text-align: left;
    display: grid;
    gap: 35px;
}

.features .feature-contents .feature-content-text h3 {
    font-size: 35px;
    font-weight: 500;
}

.features .feature-contents .feature-content-text p {
    font-size: 18px;
    color: hsl(229, 8%, 60%);
    width: 460px;
}

.features .feature-contents .feature-content-text a {
    padding: 16px 28px;
    background-color:  hsl(231, 69%, 60%);
    width: max-content;
    color: #fff;
}

/**************** FEATURE Media Query 1056px ****************/
@media (max-width: 1056px) {

    .features .feature-contents {
        flex-direction: column;
        padding: 2rem;
    }

    .features .feature-contents .feature-image img {
        position: relative;
        width: 70%;
        max-height: 100%;
    }

    .features .feature-contents .feature-background {
        left: -20%;
    }

/****** Feature CONTENT TEXT Styles ******/
    .features .feature-contents .feature-content-text {
        margin-top: 60px;
        text-align: center;
    }

    .features .feature-contents .feature-content-text a {
        margin: auto;
    }
}

/**************** FEATURE Media Query 756px ****************/
@media (max-width: 756px) {

    .features .features-heading p {
        width: 100%;
        padding:0 2rem;
        font-size: 15px;
    }

    .features .features-navigation-btns .feature-buttons {
        margin-top: 50px;
    }

    .features .features-navigation-btns .feature-buttons::after {
        display: none;
    }

    .features .features-navigation-btns .feature-buttons button { 
        padding: 20px 0;
        margin: 0 40px;
    }

    .features .features-navigation-btns .feature-buttons button::after {
        content: '';
        position: absolute;
        bottom: -4.9px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 1px;
        background-color: hsl(229, 8%, 60%);
    }

    .features .feature-contents .feature-image img {
        position: relative;
        width: 80%;
        max-height: 100%;
    }
}

/**************** FEATURE Media Query 556px ****************/
@media (max-width: 556px) {

    .features .features-heading h2 {
        font-size: 28px;
    }
    
    .features .features-navigation-btns .feature-buttons button { 
        display: block;
        margin: auto;
    }

    .features .features-navigation-btns .feature-buttons button:first-child::before {
        content: '';
        position: absolute;
        top: -4.9px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 1px;
        background-color: hsl(229, 8%, 60%);
    }

    .features .feature-contents .feature-image {
        margin-top: 60px;
    }

    .features .feature-contents .feature-image img {
        position: relative;
        width: 100%;
        max-height: 100%;
    }

    .features .feature-contents .feature-content-text h3 {
        font-size: 22px;
    }

    .features .feature-contents .feature-content-text p {
        width: 100%;
        line-height: 28px;
        font-size: 16px;
    }

    .features .feature-contents .feature-content-text a {
        display: none;
    }

}

/*************** DOWNLOAD-EXTENSION SECTION Styles ***************/
.download-extension {
    margin-top: 150px;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    text-align: center;
}

.download-extension .download-heading-text h3 {
    font-size: 35px;
    font-weight: 500;
}

.download-extension .download-heading-text p {
    font-size: 18px;
    color: hsl(229, 8%, 60%);
    width: 60%;
    margin: auto;
    margin-top: 20px;
    line-height: 24px;
}

/******** CARD CONTAINER Section ********/
.download-extension .cards-container {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.download-extension .cards-container .download-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: 0 10px 15px hsl(231 69% 60% / 0.1);
    padding: 3rem .5rem;
    margin-bottom: 100px;
    border-radius: 15px;
    overflow-y: hidden;
}

.download-extension .cards-container .download-card:nth-child(2) {
    margin-top: 40px;
}
.download-extension .cards-container .download-card:nth-child(3) {
    margin-top: 80px;
}

/****** BROWSER DESCRIPTION inside download-card ******/
.download-extension .cards-container .download-card .browser-description p:first-child {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 12px;
}

.download-extension .cards-container .download-card .browser-description p:last-child {
    color: hsl(229, 8%, 60%);
}

/****** ADD TO EXTENSION <a> tag inside download-card ******/
.download-extension .cards-container .download-card a {
    padding: 10px 30px;
    background-color: hsl(231, 69%, 60%);
    color: #fff;
    border: 2px solid hsl(231, 69%, 60%);
}

.download-extension .cards-container .download-card a:hover {
    background-color: transparent;
    color: hsl(231, 69%, 60%);
    box-shadow: 0 5px 10px hsl(231 69% 60% / 0.15);
}

/************** Media Query for DOWNLOAD-EXTENSION Section 980px **************/
@media (max-width: 980px) {
    
    .download-extension .cards-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0;
    }

    .download-extension .cards-container .download-card {
        margin-top: 0;
    }

    .download-extension .cards-container .download-card:nth-child(2) {
        margin-top: -30px;
    }
    .download-extension .cards-container .download-card:nth-child(3) {
        margin-top: -30px;
    }
}

@media (max-width: 556px) {

    .download-extension .download-heading-text h3{
        font-size: 28px;
    }

    .download-extension .download-heading-text p{
        font-size: 16px;
        width: 60%;
    }
}

/**************** FAQ SECTION Styles ****************/
.faq {
    width: 100%;
}

.faq-container {
    width: 600px;
    margin: auto;
}

/****** FAQ HEADINg Styles ******/
.faq-container .faq-heading {
    margin: 50px;
    text-align: center;
}

.faq-container .faq-heading h2 {
    font-size: 35px;
    font-weight: 500;
}

.faq-container .faq-heading p {
    margin-top: 20px;
    margin-bottom: 30px;
    color: hsl(229, 8%, 60%);
    line-height: 28px;
}

/****** FAQ QUESTION and ANSWER Styles ******/
.faq-question-answer {
    padding: 1rem 0;
    height: min-content;
    position: relative;
}

.faq-question-answer:first-child::before,
.faq-question-answer::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 3px;
    height: .5px;
    width: 100%;
    background-color: hsl(229 8% 60% / 0.5);
}
.faq-question-answer:first-child::before {
    top: -3px;
}

/****** FAQ QUESTIONS ******/
.faq-question-answer .faq-question {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
}

.faq-question-answer .faq-question:hover > p {
    color: hsl(0, 94%, 66%);
}

/****** FAQ QUESTIONS arrow-icon ******/
.faq-question-answer .faq-question span svg,
.faq-question-answer .faq-question span svg path {
    transition: transform 200ms, stroke 200ms;
}

.faq-question-answer .faq-question span svg.active {
    transform: rotate(-180deg);
}
.faq-question-answer .faq-question span svg path.active {
    stroke: hsl(0, 94%, 66%);
}

/****** FAQ ANSWERS ******/
.faq-question-answer .faq-answer p {
    line-height: 32px;
    color: hsl(229, 8%, 60%);
    transform-origin: top;
    transform: scale(0);
    visibility: hidden;
    height: 0;
    transition: 200ms ease;
}

.faq-question-answer .faq-answer p.active {
    transform: scale(1);
    visibility: visible;
    height: 100%;
    margin: 20px 0;
}

main .more-info {
    width: max-content;
    margin: 80px auto;   
}

main .more-info a {
    padding: 14px 24px;
    background-color: hsl(231, 69%, 60%);
    color: #fff;
}

@media (max-width: 756px) {

    .faq-container {
        width: 100%;
        margin: auto;
        padding: 1.5rem;
    }  
    
    .faq-container .faq-heading {
        width: 100%;
        margin: 0;
    }

    .faq-container .faq-heading h2 {
        font-size: 28px;
    }

    .faq-container .faq-heading p {
        font-size: 16px;
    }

    /****** FAQ QUESTION and ANSWER Styles ******/
    .faq-question-answer .faq-question {
        font-size: 16px;
    }
    
}

footer {
    height: 100%;
    margin-top: 100px;
    width: 100%;
    display: block;
    text-align: center;
    background-color:  hsl(231, 69%, 60%);
    overflow: hidden;
}

/****** CONTACT US in footer section ******/
footer .contact-us {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto;
    padding: 50px 0;
    color: #fff;
    width: max-content;
}

footer .contact-us p {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 16px;
}

footer .contact-us h3 {
    font-size: 35px;
    font-weight: 500;
}

footer .contact-us form {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    justify-content: space-between;
}

/****** Footer INPUT and BUTTON Styles ******/

footer .contact-us .email-inp {
    position: relative;
    width: 100%;
}

footer .contact-us .email-inp img {
    position: absolute;
    top: 50%;
    left: calc(100% - 22px);
    transform: translate(calc(100% - 34px), -50%) scale(0);
    visibility: hidden;
    transition: 300ms;
}
footer .contact-us .email-inp img.active {
    transform: translate(calc(100% - 34px), -50%) scale(1);
    visibility: visible;
}

footer .contact-us .email-inp h6 {
    position: absolute;
    font-weight: 400;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: hsl(0, 94%, 66%);
    padding: 5px;
    border-radius: 5px;
    transform-origin: top;
    transform: scaleY(0);
    visibility: hidden;
    transition: 300ms;
}

footer .contact-us .email-inp h6.active {
    transform: scaleY(1);
    visibility: visible;
}

footer .contact-us form input,
footer .contact-us form button {
    padding: 12px 20px;
    border-radius: 5px;
    outline: none;
    font-weight: 500;
    border: 3px solid transparent;
    transition: color 200ms, background-color 200ms, outline 200ms;
    width: 100%;
}

footer .contact-us form input::placeholder {
    color: hsl(229 8% 60% / 0.6);
}

footer .contact-us form input.active {
    border: 3px solid hsl(0, 94%, 66%);
}

footer .contact-us form button {
    background-color: hsl(0, 94%, 66%);
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    width: 160px;
}

footer .contact-us form button:hover {
    background-color: #fff;
    border: 3px solid hsl(0, 94%, 66%);
    color: hsl(229, 31%, 21%);
}

/********** NAVBAR footer Styling **********/
footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: hsl(229, 31%, 21%);
    height: 80px;
    padding: 0 10rem;
}

footer nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer nav ul li {
    display: inline;
    padding: 0 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

footer nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: thin;
    transition: color 200ms;
}

footer nav ul li a:hover {
    color: hsl(0, 94%, 66%);
}

footer nav ul li a svg path {
    fill: #fff;
}

footer nav .social-icon a {
    padding: 0 1rem;
}

footer nav .social-icon a svg path {
    transition: fill 200ms;
}
footer nav .social-icon a:hover svg > path {
    fill: hsl(0, 94%, 66%);
}

/**************** Media Query for FOOTER Section 980px ****************/
@media (max-width: 980px) {
    footer nav  {
        padding: 2rem 5rem;
        flex-direction: column;
        gap: 30px;
        height: max-content;
    }
}

/*********** Media Query for FOOTER Section 756px ***********/
@media (max-width: 756px) {
    footer .contact-us h3 {
        font-size: 28px;
        width: max-content;
    }

    footer .contact-us form {
        flex-direction: column;
    }

    footer .contact-us form button {
        width: 100%;
    }

    footer nav ul {
        flex-direction: column;
        gap: 30px;
    }
}

/******** Media Query for FOOTER Section 556px ********/
@media (max-width: 556px) {
    footer .contact-us {
        width: 100%;
        padding: 2rem;
    }

    footer .contact-us p {
        font-size: 14px;
    }

    footer .contact-us h3 {
        font-size: 24px;
        margin: auto;
        width: fit-content;
    } 
    
    footer nav ul li a {
        font-size: 12px;
    }

    footer nav .social-icon a {
        display: inline-block;
        padding: 1rem;
    }
}

.attribution {
    font-size: 12px;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    background-color: hsl(229, 31%, 21%);
}

.attribution a {
    font-size: 14px;
    color: hsl(0, 94%, 66%);
}
